*.ilk
*.tlog
*.manifest
*.pch
*.res
*.log
*.obj
*.lastbuildstate
*.unsuccessfulbuild
*.sdf
*.ipch
*.pdb
*.idb
*.opensdf
*.suo
*.txt
*.aps
*.svn-base
/Build/Win32/Debug/*.xml
DotNetDebugMe/obj/
qtNanomite/GeneratedFiles/
qtNanomite/TempOutput/
*.config
*.cache
*_manifest.rc
*.cbp
*.layout
Build/Win32/Debug/
Build/x64/Debug/
